* {
    margin:0;
    padding: 0;
}

body {
    background: #1c1c1e;
    color: #a19e89;
    padding : 7px;
    font-family: serif;
}

.title {
    margin: 13px 0px 22px 0px;
    font-size: 34px;
}

a {
    text-decoration: none;
    color: inherit;
}

.tanks-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.tanks-list > a:hover {
    background-color: #2c2c2c;
}

.tanks-list > a > div {
    width: 192px;
    padding: 0px 5px 5px 5px;
}




.logo-tank-list {
    display: block;
    width: 100%;
}

.title-tank-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 2px;
}

.country-tank-list {
    width: 21px;
}

.level-tank-list {
    margin-left: 5px;
    font-size: 18px;
}

.name-tank-list {
    margin-left: 5px;
    font-size: 16px;
    text-transform: uppercase;
    color: #d6d1ba;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.details-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.details-flex h2{
    font-size: 24px;
    margin-bottom: 20px;
}

.preview {
    width: 600px;
}

.preview-image {
    width: 100%;
    display:block;
}

.characteristic {
    width: 822px;
}

table {
    width: 100%;
    font-size:18px;
    border-color: #9da285;
    border-collapse: collapse;
}
td {
    border: 2px solid #9da285;
    padding: 8px;
    color: #f7f5da;
}

td:first-child {
    width: 72%;
}

td:last-child {
    width: 28%;
}

.preview-back {
    font-size:18px;
}

.title-country {
    width: 32px;
    margin-right: 10px;
}
