$bodyBackground: #dcbb9a;
$bodyColor: #000;
$contentBackground: #fff;
$h1TextTransform: none;
$hColor: #893c00;
$briefColor: #fadcba;
$linkColor: #3d70a1;
$thColor: #e0e0e0;
$borderFormColor: $thColor;
$formTextColor: #808080;
$formInputColor: $formTextColor;
$tableRowsColor: #fff;
$tableThColor: #000;
$buttonColor: #3d70a1;
$FormOutlineColor: $formTextColor;
$briefWidth: 384px;
$briefTextColor: #000;
$briefFloat: left;
$briefMargin: 4px 20px 10px 0;