$bodyBackground: rgba(198, 238, 252, 0.53);
$bodyColor: #fff;
$contentBackground: #3b3b3b;
$h1TextTransform: uppercase;
$hColor: #fccd10;
$briefColor: #fff178;
$linkColor: #f5c70f;
$thColor: #94a34e;
$borderFormColor: $thColor;
$formTextColor: #f5c70f;
$formInputColor: #757575;
$tableRowsColor: #677d01;
$tableThColor: #000;
$buttonColor: $formTextColor;
$FormOutlineColor: $formTextColor;
$briefWidth: 920px;
$briefTextColor: #000;
$briefFloat: none;
$briefMargin: 4px 0px 40px 0;